


<div class="row">
	<div class="col-xl-10">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Activities'">
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-timeline2></kt-timeline2>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>


<!--
<kt-portlet>
	<kt-portlet-header>
		<ng-container ktPortletTitle>
		</ng-container>
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body></kt-portlet-body>
	<kt-portlet-footer></kt-portlet-footer>
</kt-portlet>
-->
