.button {
    background-color: #f11f1f;
    border: none;
    color: #fff;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-right: 2rem;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 8px;
  }

  .btn-approve{
    border: none;
    color: #fff;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-right: 2rem;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #66be0d;
    ;
     ;
  }

  