<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Activities</h5>
                    <span class="h2 font-weight-bold mb-0">{{sheetDetails.no_of_activities}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Hours</h5>
                    <span class="h2 font-weight-bold mb-0">{{sheetDetails.hours}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fa fa-clock-o"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0 pull-left">Sheet Content</h3>
              <button (click) = "sheetReject()" class="button pull-right">Reject</button>
              <button (click) = "sheetApprove()" class=" pull-right btn-approve">Approve</button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th  class="th-padding"scope="col"style="text-align: center;">Project</th>
                  <th class="th-padding" scope="col"style="text-align: center;">Date</th>
                  <th  class="td-padding"scope="col"style="text-align: center;">Activity</th>
                  <th class="td-padding" scope="col">Hours</th>
                  <th  class="th-padding"scope="col"></th>
                </tr>
              </thead>
                <tr *ngFor= "let activity of PendingSheetContent;">
                  <td  class="th-padding" style="text-align: center;">
                    <span class= "center">{{activity.project}}</span>
                  </td>
                  <td  class="th-padding"style="text-align: center;" >
                      <span class= "center">
                       {{activity.date |date}}
                    </span>
                  </td>
                  <td  class="td-padding" style="text-align: center;">
                      <span class="badge badge-dot mr-4">
                          <i></i> {{activity.activity}}
                        </span>
                    </td>
                  <td  class="th-padding" >   
                    <span class= "center"> {{activity.hours}}</span>   
                  </td>
                 
                </tr>
            </table>
          </div>
          <div class="card-footer py-4">
          </div>
        </div>
      </div>
    </div>
  
  