<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url(assets/img/project.jpg); background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-danger opacity-8"></span>
      <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0 pull-left">Projects</h3><button style="display: none;" (click) = "showAddProject()" class="btn btn-primary pull-right"><i class="fas fa-plus" style="color: rgb(20, 209, 20)"></i> New Project</button>
            </div>
            <div class="pl-lg-4" id="add-project" style="display: none;">
              <form [formGroup] = "projectCreateForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Project Name</label>
                      <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Project Name" [value]="" formControlName="projectname">
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Aliases</label>
                      <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="Comma seperated names" formControlName="aliases">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Logo</label>
                      <input type="file" name="logo" (change)="onFileSelect($event)" />
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Users</label>
                      <br>
                      <ngx-select-dropdown [options]="" 
                      formControlName="users" [multiple]="true" formControlName = "users"></ngx-select-dropdown>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <button type="submit" class="btn btn-success">Create Project</button>
                    </div>
                  </div>
                </div>
              </form>
              </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th class= "td-padding" scope="col"style="text-align: center;">logo</th>
                        <th  class="th-padding"scope="col"style="text-align: center;">Name</th>
                        <th class="th-padding" scope="col"style="text-align: center;">status</th>
                        <th  class="td-padding"scope="col"style="text-align: center;">hours</th>
                        <th class="td-padding" scope="col"></th>
                        <th  class="th-padding"scope="col"></th>
                      </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let project of projectsList">
                          <td class="th-padding" style="text-align: center;">
                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="../assets/img/index.png">
                        </a>
                      </td>
                        <td class="th-padding" style="text-align: center;">
                          <span class="center">
                            {{project.name}}
                          </span>
                        </td>
                        <td class="th-padding" style="text-align: center;">
                            <span class="center">
                            {{project.total_hours}}
                        </span>
                    </td>
                    <td class="th-padding" style="text-align: center;">
                        <span class="center">
                        <i class="bg-warning"></i> {{project.status}}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="javascript:void(0)">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>