.font_size{
    font-size: 2rem;
    color: #fff !important;
}
.btn-new{
    padding-left: 23px;
}
.dropdown{
    margin-top: 5px;
    width: 150px;
}

.font-color{
  color:black;
}

.padding{
  padding-bottom: 1px;
  padding-top: 3px;
}

.padding-top{
    padding-top:15px;
}






