<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow" style="height: 700px;">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="text-white mb-0">Activities</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4" >
      <div class="card shadow" style="height: 700px;">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Feed</h2>
            </div>
          </div>
        </div>
        <div class="card-body scroll-hover">
          <!-- Chart -->
              <ol class="activity-feed">
                  <li class="feed-item" *ngFor= "let notification of Notificationslist" [attr.data-content] = "getIcon(notification.notification_type)" [attr.data-time]="notification.created_at | dateAgo" [attr.data-color]="getColor(notification.notification_type)">
                    <section>
                      <input type="checkbox" id="expand_1" name="expand_1" />
                      <label for="expand_1">
                        {{notification.notification}}
                      </label>
                    </section>
                  </li>
                </ol>
            </div>
      </div>
    </div>
  </div>
</div>
